---
import Layout from "../layouts/Layout.astro";
import GitHub from "../icons/GitHub.astro";
import Linkedin from "../icons/Linkedin.astro";
import Html from "../icons/Html.astro";
import Css from "../icons/Css.astro";
import Js from "../icons/Js.astro";
import Tailwind from "../icons/Tailwind.astro";
import AstroJs from "../icons/AstroJs.astro";
import New from "../icons/New.astro";
import User from "../icons/User.astro";
import Web from "../icons/Web.astro";
import Code from "../icons/Code.astro";
import Call from "../icons/Call.astro";
import Mail from "../icons/Mail.astro";
import Cv from "../icons/Cv.astro";
import Header from "../components/Header.astro";
import SectionHero from "../components/SectionHero.astro";
import Section from "../components/Section.astro";
import TitleSection from "../components/TitleSection.astro";
---

<Layout title="Sebastian Perez - Frontend Developer.">
  <main id="inicio">
    <Header />

    <SectionHero id="/">
      <header class="w-full text-pretty">
        <h1 class="2xl:text-4xl xl:text-3xl font-semibold mb-3">
          Sebastian Perez - <span class="text-cyan-400"
            >Front End Developer</span
          ><span title="Rocket"></span>
        </h1>

        <p class="opacity-75 2xl:text-2xl xl:text-xl">
          Aportando valor en cada Desarrollo
        </p>
      </header>

      <footer class="w-full flex gap-3">
        <a
          class="flex 2xl:text-lg xl:text-base w-fit items-center gap-1 2xl:py-2 xl:py-1 2xl:px-8 xl:px-6 rounded-lg bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
          href="https://github.com/SebastianPerez11"
          target="_blank"
          title="Ir a GitHub"
          rel="noopener noreferrer"><GitHub />GitHub</a
        >
        <a
          class="flex 2xl:text-lg xl:text-base w-fit items-center gap-1 2xl:py-2 xl:py-1 2xl:px-8 xl:px-6 rounded-lg bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
          href="https://www.linkedin.com/in/sebastian-perezz/"
          target="_blank"
          title="Ir a Linkedin"
          rel="noopener noreferrer"><Linkedin />Linkedin</a
        >

        <a
          class="flex 2xl:text-lg xl:text-base w-fit items-center gap-1 2xl:py-2 xl:py-1 2xl:px-8 xl:px-6 rounded-lg bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
          href="https://www.dropbox.com/scl/fi/xdcjl8e0ren7ou9sz7p4l/Cv.pdf?rlkey=g1cd3582egzv9gx8rcfzeyhl3&dl=0"
          target="_blank"
          title="Descargar CV"
          rel="noopener noreferrer"><Cv />CV</a
        >
      </footer>
    </SectionHero>

    <Section id="sobremi">
      <TitleSection title="Sobre mi">
        <User />
      </TitleSection>
      <footer class="w-full grid grid-cols-auto-fit gap-4">
        <div
          class="w-full flex flex-col justify-center p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        >
          <h3
            class="mb-2 2xl:text-2xl xl:text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Estudios
          </h3>
          <p
            class="font-normal 2xl:text-xl text-lg text-gray-700 dark:text-gray-200"
          >
            Desarrollo Web Front End y estudiante en la carrera terciaria en
            Analisis de Sistemas Informaticos.
          </p>
        </div>

        <div
          class="w-full h-full flex item flex-col justify-center row-span-2 p-6 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
        >
          <h4
            class="mb-3 2xl:text-2xl xl:text-xl font-semibold text-gray-900 md:text-2xl dark:text-white"
          >
            Tecnologias
          </h4>
          <p
            class="2xl:text-xl text-lg font-normal text-gray-500 dark:text-gray-200"
          >
            Domino las siguientes Tecnologias:
          </p>
          <ul class="my-4 space-y-3">
            <li>
              <div
                class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              >
                <Html class="w-6" />
                <span class="flex-1 ms-3 whitespace-nowrap">HTML5</span>
              </div>
            </li>
            <li>
              <div
                class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              >
                <Css class="w-6" />
                <span class="flex-1 ms-3 whitespace-nowrap">Css3</span>
              </div>
            </li>
            <li>
              <div
                class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              >
                <Js class="w-6" />
                <span class="flex-1 ms-3 whitespace-nowrap">JavaScript</span>
              </div>
            </li>
            <li>
              <div
                class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              >
                <Tailwind class="w-6" />
                <span class="flex-1 ms-3 whitespace-nowrap">Tailwind Css</span>
              </div>
            </li>
            <li>
              <div
                class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              >
                <AstroJs class="w-6" />
                <span class="flex-1 ms-3 whitespace-nowrap">Astro Js</span>
              </div>
            </li>
          </ul>
        </div>

        <div
          class="w-full p-6 flex flex-col justify-center bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        >
          <h5
            class="mb-2 2xl:text-2xl xl:text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Habilidades Sociales
          </h5>
          <p
            class="2xl:text-xl text-lg font-normal text-gray-700 dark:text-gray-200"
          >
            Destaco las siguientes habilidades blandas:
          </p>

          <ul class="my-4 flex flex-wrap gap-3">
            <li
              class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
            >
              <span class="flex-1 whitespace-nowrap">Comunicacion</span>
            </li>
            <li
              class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
            >
              <span class="flex-1 text-cyan-300 whitespace-nowrap"
                >Trabajo en equipo</span
              >
            </li>
            <li
              class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
            >
              <span class="flex-1 whitespace-nowrap">Empatia</span>
            </li>
            <li
              class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
            >
              <span class="flex-1 text-cyan-300 whitespace-nowrap"
                >Resolucion de conflictos</span
              >
            </li>
            <li
              class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
            >
              <span class="flex-1 whitespace-nowrap">Adaptabilidad</span>
            </li>
          </ul>
        </div>
      </footer>
    </Section>

    <Section id="proyectos">
      <TitleSection title="Proyectos">
        <Code />
      </TitleSection>

      <footer class="grid grid-cols-auto-two gap-4">
        <div
          class="overflow-hidden h-full w-full max-[1200px]:flex-col mb-4 flex bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        >
          <picture class="overflow-hidden w-full">
            <img
              class="object-cover w-full h-64 min-h-full aspect-video rounded-s-lg transition-transform hover:scale-105"
              src="/proyectos/proyect-one.webp"
              alt="Fresh Img - Aplicacion Web"
              title="Fresh Img"
              loading="lazy"
            />
          </picture>

          <header class="w-full flex flex-col justify-center p-6">
            <h5 class="mb-4 2xl:text-2xl xl:text-xl font-semibold">
              Fresh Img - <span class="text-cyan-400">Aplicacion Web</span>
            </h5>
            <div class="mb-4 flex gap-2">
              <span
                class="flex items-center text-sm gap-1 py-1 px-3 rounded-2xl bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              >
                <AstroJs class="w-5" />Astro Js</span
              >
              <span
                class="flex items-center text-sm gap-1 py-1 px-3 rounded-2xl bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              >
                <Tailwind class="w-5" />Tailwind Css</span
              >
            </div>
            <p
              class="mb-4 font-normal text-pretty text-gray-700 dark:text-gray-200"
            >
              Aplicacion Web, simulando un repositorio de Wallpapers, se utilizo
              la API de View Transition junto Astro y sus paginas dinamicas.
            </p>
            <div class="w-full flex gap-3">
              <a
                class="flex text-base w-fit items-center gap-1 2xl:py-2 xl:py-1 2xl:px-8 xl:px-4 rounded-lg bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
                href="https://fresh-img-web.netlify.app/"
                target="_blank"
                title="Ir al Sitio"><New />Ver Sitio</a
              >
              <a
                class="flex text-base w-fit items-center gap-1 2xl:py-2 xl:py-1 2xl:px-8 xl:px-4 rounded-lg bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
                href="https://github.com/SebastianPerez11/fresh-img-web"
                target="_blank"
                title="Ir a GitHub"><GitHub />Ver Repositorio</a
              >
            </div>
          </header>
        </div>

        <div
          class="overflow-hidden w-full h-full max-[1200px]:flex-col mb-4 flex bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        >
          <picture class="overflow-hidden w-full">
            <img
              class="object-cover w-full h-64 min-h-full aspect-video rounded-s-lg transition-transform hover:scale-105"
              src="/proyectos/proyect-two.webp"
              alt="Forbici Stilisti - Landing Page"
              title="Forbici Stilisti"
              loading="lazy"
            />
          </picture>

          <header class="w-full flex flex-col justify-center p-6">
            <h5 class="mb-4 2xl:text-2xl xl:text-xl font-semibold">
              Forbici Stilisti - <span class="text-pink-400">Landing Page</span>
            </h5>
            <div class="mb-4 flex gap-2">
              <span
                class="flex items-center text-sm gap-1 py-1 px-3 rounded-2xl bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              >
                <AstroJs class="w-5" />Astro Js</span
              >
              <span
                class="flex items-center text-sm gap-1 py-1 px-3 rounded-2xl bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              >
                <Tailwind class="w-5" />Tailwind Css</span
              >
            </div>
            <p
              class="mb-4 font-normal text-pretty text-gray-700 dark:text-gray-200"
            >
              Landing Page estatica de la peluqueria Forbici Stilisti, contiene
              un dise帽o moderno, minimalista y con un alto rendimiento.
            </p>
            <div class="w-full flex gap-3 flex-grow-1">
              <a
                class="flex text-base w-fit items-center gap-1 2xl:py-2 xl:py-1 2xl:px-8 xl:px-4 rounded-lg bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
                href="https://forbicistilisti.netlify.app/"
                target="_blank"
                title="Ir al Sitio"><New />Ver Sitio</a
              >
              <a
                class="flex text-base w-fit items-center gap-1 2xl:py-2 xl:py-1 2xl:px-8 xl:px-4 rounded-lg bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
                href="https://github.com/SebastianPerez11/landing-page-forbici"
                target="_blank"
                title="Ir a GitHub"><GitHub />Ver Repositorio</a
              >
            </div>
          </header>
        </div>

        <div
          class="overflow-hidden w-full h-full max-[1200px]:flex-col mb-4 flex bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        >
          <picture class="overflow-hidden w-full">
            <img
              class="object-cover w-full h-64 min-h-full aspect-video rounded-s-lg transition-transform hover:scale-105"
              src="/proyectos/proyect-three.webp"
              alt="Misi贸n Salta - Landing Page"
              title="Misi贸n Salta"
              loading="lazy"
            />
          </picture>

          <header class="w-full flex flex-col justify-center p-6">
            <h5 class="mb-4 2xl:text-2xl xl:text-xl font-semibold">
              Misi贸n Salta - <span class="text-blue-400">Landing Page</span>
            </h5>
            <div class="mb-4 flex gap-2">
              <span
                class="flex items-center text-sm gap-1 py-1 px-3 rounded-2xl bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              >
                <Html class="w-5" />HTML5</span
              >
              <span
                class="flex items-center text-sm gap-1 py-1 px-3 rounded-2xl bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              >
                <Css class="w-5" />CSS3</span
              >
              <span
                class="flex items-center text-sm gap-1 py-1 px-3 rounded-2xl bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              >
                <Js class="w-5" />JavaScript</span
              >
            </div>
            <p
              class="mb-4 font-normal text-pretty text-gray-700 dark:text-gray-200"
            >
              Landing page de la ONG Misi贸n Salta del Instituto Cristo Obrero
              que brinda servicios de consultorias para el crecimiento digital
              de emprendedores, emprendimientos o marcas personales.
            </p>
            <div class="w-full flex gap-3">
              <a
                class="flex text-base w-fit items-center gap-1 2xl:py-2 xl:py-1 2xl:px-8 xl:px-4 rounded-lg bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
                href="https://mision-salta-landing-dev.vercel.app/"
                target="_blank"
                title="Ir al Sitio"><New />Ver Sitio</a
              >
              <a
                class="flex text-base w-fit items-center gap-1 2xl:py-2 xl:py-1 2xl:px-8 xl:px-4 rounded-lg bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
                href="https://github.com/leoromero97/mision-salta-landing"
                target="_blank"
                title="Ir a GitHub"><GitHub />Ver Repositorio</a
              >
            </div>
          </header>
        </div>
      </footer>
    </Section>

    <Section id="experiencia">
      <TitleSection title="Experiencia">
        <Web />
      </TitleSection>
      <footer
        class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
          <li class="ms-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
            >
            </div>
            <time
              class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-400"
              >Agosto 2023</time
            >
            <h5
              class="mb-1 2xl:text-2xl xl:text-xl font-bold text-gray-900 dark:text-cyan-400"
            >
              Landing Page ONG "Misi贸n Salta"
            </h5>
            <p
              class="text-pretty mb-2 font-normal 2xl:text-xl text-lg text-gray-600 dark:text-gray-200"
            >
              Recibi una mentoria por parte de un Dise帽ador UX-UI profesional,
              desarrollamos en conjunto una landing page para la ONG Misi贸n
              Salta.
            </p>
            <p
              class="text-pretty mb-2 font-normal 2xl:text-xl text-lg text-gray-600 dark:text-gray-200"
            >
              Adquiri nuevos conocimientos de como realizar un desarrollo
              optimo, utilizando buenas practias, tanto en el enmaquetado, el
              estilado y el analisis pre-desarrollo de una web.
            </p>
            <p
              class="text-pretty font-normal 2xl:text-xl text-lg text-gray-600 dark:text-gray-200"
            >
              Ademas conoci diferentes tecnologias y herramientas que me
              facilitaron la experiencia de desarrollo (Trello, Git, GitHub,
              Figma, Metodologias, Dise帽os limpios y Accesibles)
            </p>
            <!-- <a
                href="#"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                >Learn more <svg
                  class="w-3 h-3 ms-2 rtl:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"></path>
                </svg></a
              > -->
          </li>
        </ol>
      </footer>
    </Section>

    <Section id="contacto">
      <TitleSection title="Contacto">
        <Call />
      </TitleSection>
      <footer class="w-full grid grid-cols-auto-fit grid-rows-[160px] gap-4">
        <div
          class="w-full flex flex-col gap-3 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        >
          <p
            class="font-normal text-pretty 2xl:text-xl text-lg text-gray-700 dark:text-white"
          >
            Si buscan a alguien apasionado, responsable, que aporte valor,
            busque mejorar y seguir aprendiendo podes contactarme.
          </p>
          <footer class="w-full flex gap-3">
            <a
              class="flex 2xl:text-lg xl:text-base w-fit items-center gap-1 2xl:py-2 xl:py-1 2xl:px-8 xl:px-6 rounded-lg bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              href="https://github.com/SebastianPerez11"
              target="_blank"><GitHub />GitHub</a
            >
            <a
              class="flex 2xl:text-lg xl:text-base w-fit items-center gap-1 2xl:py-2 xl:py-1 2xl:px-8 xl:px-6 rounded-lg bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              href="https://www.linkedin.com/in/sebastian-perezz/"
              target="_blank"><Linkedin />Linkedin</a
            >
            <a
              class="flex 2xl:text-lg xl:text-base w-fit items-center gap-1 2xl:py-2 xl:py-1 2xl:px-8 xl:px-6 rounded-lg bg-gray-50 hover:bg-gray-100 hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
              href="https://mailto:sebasperez.dev@gmail.com"
              target="_blank"><Mail />Email</a
            >
          </footer>
        </div>
      </footer>
    </Section>
  </main>
</Layout>
