---
import Layout from '../layouts/Layout.astro';
import Planet from '../svg/Planet.astro';
---
<Layout title="Welcome to Astro.">
	<main>
		<header class="w-full flex justify-center py-8 px-48 fixed">
			<nav class="w-full max-w-[1280px] flex justify-between text-white text-lg">
				<a href="">Inicio</a>
				<a href="">Sobre mi</a>
				<a href="">Experiencia</a>
				<a href="">Proyectos</a>
				<a href="">Contacto</a>
			</nav>
		</header>
		<section class="w-full h-screen flex justify-center py-8 px-32">
			<article class="w-full h-full flex justify-between items-center max-w-[1280px]">
				<header class="text-white w-full text-5xl">
					<h1 class="text-cyan-400">Sebastian Perez</h1>
					<h2>Front-End Developer<span>🚀</span></h2>
				</header>
				<aside class="w-[500px] flex justify-center overflow-hidden">
					<Planet class="w-full"/>
				</aside>
			</article>
		</section>
		
	</main>
</Layout>