---
import LinkHeader from "../components/LinkHeader.astro";
---
<header
  class="w-full flex justify-center z-20 2xl:py-10 xl:py-6 2xl:px-80 xl:px-52 lg:px-20 sm:px-6 sticky top-0 max-sm:hidden"
>
  <nav
    class="max-w-[1280px] py-2 px-10 flex justify-center gap-16 text-white 2xl:text-xl lg:text-lg sm:text-base backdrop-blur-3xl bg-white border border-gray-200 rounded-3xl shadow dark:bg-white/10 dark:border-gray-700" 
  >
  <LinkHeader href="#inicio" content="Inicio"/>
  <LinkHeader href="#sobremi" content="Sobre mi"/>
  <LinkHeader href="#proyectos" content="Proyectos"/>
  <LinkHeader href="#experiencia" content="Experiencia"/>
  <LinkHeader href="#contacto" content="Contacto"/>
  </nav>
</header>
