---
const {id} = Astro.props;
---
<section
  id={id}
  class="w-full h-full flex justify-center py-12 sm:px-14 xl:px-56 2xl:px-96"
>
  <article
  class="w-full h-full p-6 flex flex-col gap-5 justify-between items-center max-w-[1280px] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"class="w-full h-full p-6 flex flex-col gap-5 justify-between items-center max-w-[1280px] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
  <slot/>           
  </article>    
</section>
