---
const {id} = Astro.props;
---
<section
  id={id}
  class="w-full h-full flex justify-center 2xl:py-24 xl:py-[68px] 2xl:px-96 xl:px-48 lg:px-28 md:px-16 max-sm:px-2 max-sm:py-8"
>
  <article
  class="w-full h-full flex flex-col gap-4 justify-between items-center max-w-[1280px]"
  >
  <slot/>           
  </article>    
</section>